@model List<Model.tb_orcamento_servico>

<div class="col-md-3" style="width: 2%"></div>
<div class="col-md-3" style="width: 96%">
    <div class="box-head">
        <h2 class="left">Serviços Cadastrados</h2>
    </div>
    <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>
                    Serviço
                </th>
                <th>
                    Valor
                </th>
                <th class="ac">Remover</th>
            </tr>
            @for (int i = 0; i < ((List<Model.tb_orcamento_servico>)@ViewBag.tb_orcamento_servico).ToList().Count; i++)
            {
                var item = ((List<Model.tb_orcamento_servico>)@ViewBag.tb_orcamento_servico)[i];
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_servico.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor)
                    </td>

                    <td>

                        @if (User.IsInRole("Infra") || User.IsInRole("DIRETOR-INFRA"))
                        {
                            <a class="ico del">
                                @Ajax.ActionLink("Excluir", "RemoverServico", "Orcamento"
                                     , new { id_servico = i }, new AjaxOptions()
                                     {
                                         UpdateTargetId = "foda"
                                        ,
                                         InsertionMode = InsertionMode.Replace
                                     })
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
