@model List<Web_Ages.Models.ViewModel>
<script>
    $(document).ready(function () {
        $(".backup_picture").error(function () {
            $(this).attr('src', '~/Content/pic/default.png');
        });
    });
</script>
<div class="col-md-3" style="width: 2%"></div>
<div class="col-md-3" style="width: 96%">
    <div class="box-head">
        <h2 class="left">Itens Anexados</h2>
    </div>
    <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>

                </th>
                <th>
                    Título
                </th>
                <th>
                    Anotação
                </th>
                <th>
                    Criado em
                </th>
                <th>
                    Remover
                </th>
            </tr>
            @foreach (var item in (List<Web_Ages.Models.ViewModel>)@ViewBag.tb_anexo)
            {

                <tr>
                    <td>
                        <img width="64" height="64" src="~/Content/pic/@( item.tb_anexo.tipo + ".png")" alt="carregando" onerror="this.onerror=null;this.src = '~/Content/pic/default.png';" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_anexo.nome_arquivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_anexo.anotacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_anexo.data_cadastro)
                    </td>
                    <td>
                        Remover/@Html.ActionLink("Download", "Download", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
