
 @{Layout = "~/Views/Shared/_Layout.cshtml";}
 
    <div id="container">
    <div class="shell">
        <!-- Main -->
      
            <div id="main">
                <div class="cl">&nbsp;</div>
                <div>
                 ESSA PAGINA TEM Q SER FEITA PARA MOMENTOS EM QUE NAO TEM AUTENTICACAO
                </div>
                <div class="cl">&nbsp;</div>
            </div>
    </div>
</div>


    
